.detail-container {
  margin: 3rem;
}

.detail-flag {
  width: 40%;
  min-width: 18rem;
  object-fit: fill;
  height: max-content;
  margin-bottom: 2rem;
}

.detail-card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.detail-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  flex-wrap: wrap;
}

.border-info {
  margin-top: 1rem;
}

.country-name {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 1rem;
  display: block;
}
